// 8-mixin_margins.scss

@mixin horizontal-margin($value) {
    margin-right: $value;
    margin-left: $value;
}

body {
    @include horizontal-margin(10px);
}

div {
    @include horizontal-margin(15px);
}