// 8-mixin_margins.scss

@mixin margin($right, $left) {
    margin-right: $right;
    margin-left: $left;
}

body {
    @include horizontal-margins(10px);
}

div {
    @include horizontal-margins(15px);
}